
<form role="form" name="formdetails" class="offset1 span9" ng-submit="submitEntry()">
   <fieldset>
      <div class="form-group">
         <label for="detailsAlias" >Название</label>
         <input type="text" id="mewEntryAlias" class="span4 form-control" ng-model="details.title" required>
      </div>
      <div class="form-group">
         <label for="detailsEmail">Дата</label>
         <input type="text" id="detailsEmail" class="span4 form-control" ng-model="details.date">
      </div>
      <div class="form-group">
         <label for="detailsSubject">теги</label>
         <input type="text" id="detailsSubject" class="span9 form-control" ng-model="details.tags" required>
      </div>
      <div class="form-group">
         <label for="detailsBody">Послание</label>
         <textarea rows="5" id="detailsBody" class="span9 form-control" ng-model="details.body"></textarea>
      </div>
   </fieldset>
   <button class="btn" data-dismiss="modal">Close</button>
   <button class='btn btn-primary' type="submit">Submit</button>

</form>
<div class="row">

  <div class="col-md-3">

      <h3>Select files</h3>

      <div ng-show="uploader.isHTML5">
          <!-- 3. nv-file-over uploader="link" over-class="className" -->
          <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
              Base drop zone
          </div>

          <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
          <div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
              <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone">
                  Another drop zone with its own settings
              </div>
          </div>
      </div>

      <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
      <input type="file" nv-file-select="" uploader="uploader" multiple=""><br>

  </div>

  <div class="col-md-9" style="margin-bottom: 40px">
      <h2>Uploads only images (with canvas preview)</h2>
      <h3>The queue</h3>
      <p class="ng-binding">Queue length: 0</p>

      <table class="table">
          <thead>
              <tr>
                  <th width="50%">Name</th>
                  <th ng-show="uploader.isHTML5">Size</th>
                  <th ng-show="uploader.isHTML5">Progress</th>
                  <th>Status</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              <!-- ngRepeat: item in uploader.queue -->
          </tbody>
      </table>

      <div>
          <div>
              Queue progress:
              <div class="progress" style="">
                  <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }" style="width: 0%;"></div>
              </div>
          </div>
          <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length" disabled="disabled">
              <span class="glyphicon glyphicon-upload"></span> Upload all
          </button>
          <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading" disabled="disabled">
              <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
          </button>
          <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length" disabled="disabled">
              <span class="glyphicon glyphicon-trash"></span> Remove all
          </button>
      </div>

  </div>

</div>
