

<div class="container">
  <h2>Расписание <span class="pull-right">{{_doc.date}}</span><h2>
  <a href="javascript:window.print()" role="button" class="btn btn-primary active print-hidden pull-right">
    <i class="fa fa-3x fa-print" aria-hidden="true"></i>

  </a>
</div>
<div class="container-fluid" ng-controller="SchedulerCtrl">
     <div class="row">
       <div class="col-md-2">
         <div pickmeup></div>
       </div>
       <div class="col-md-10">
         <hot-table
         hot-id="my-handsontable"

           datarows="_doc.grid.data"
           settings="settings"
           col-headers="_doc.grid.columns"
           row-headers="true"
           mergeCells="_doc.grid.mergeCells"
         >
          <hot-column ng-repeat="column in _doc.grid.columns" title="column" renderer="validRenderer" read-only="!authenticated"></hot-column>

         </hot-table>
       </div>
     </div>
</div>

<div class="container footer">
    <a role="button" ng-href="#/scheduler/monday" class="btn btn-default">Понедельник</button>
    <a role="button" ng-href="#/scheduler/tuesday" class="btn btn-default">Вторник</button>
    <a role="button" ng-href="#/scheduler/wednesday" class="btn btn-default">Среда</button>
    <a role="button" ng-href="#/scheduler/thursday" class="btn btn-default">Четверг</button>
    <a role="button" ng-href="#/scheduler/friday" class="btn btn-default">Пятница</button>
</div>
