<script type="text/ng-template" id="edit.post.html">
  <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">x</button>
     <h4>Редактирование</h4>
  </div>
  <div class="modal-body">
    <form>
      <div sf-schema="sf.schema" sf-form="sf.form" sf-model="model">
      </div>
      <attachments ng-model="model._attachments"></attachments>

      <button type="button" class="btn btn-success" ng-click="_save()">Сохранить</button>
    </form>
  </div>

</script>



<a ng-click="edit(uuid)"  ng-show="authenticated" role="button" class="btn btn-success">Новый пост</a>
<div class="list-group">
  <a class="list-group-item" ng-click="edit(post.value)"  ng-repeat="post in posts">
    <h4 class="list-group-item-heading">{{post.value.date}}
      <button class="btn btn-danger pull-right"  ng-show="authenticated"  ng-click="delete(post.id)"><i class="fa fa-trash-o"></i></button>
    </h4>
    <p class="list-group-item-text" ng-bind-html="post.value.text|trust"></p>
  </a>


</div>
