@page {
  size: A4 landscape;
  // margin: 16mm 16mm 16mm 16mm;
}

@media print {
  html, body {
      width: 210mm;
      height: 297mm;
  }
  table {
    display: block !important;
    page-break-inside : avoid;
    page-break-before: avoid;
    page-break-after: avoid;
  }

  h1, div.header, div.footer, div.pickmeup {
     display: none !important;
  }
  a[href^=http]:after {
    content:" <" attr(href) ">";
  }
  * { -webkit-print-color-adjust: exact; }

}
