/*
 * this CSS is not part of the widget, it is here just as an example of the demo page styling....
 *
 * Don't copy this one, roll your own. One of the key things about the widget is that
 * it allows you to do your own styling!
 *
 */
td:focus {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	outline: rgb(91, 157, 217) auto 5px;
}
input.error {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red;
	outline: thin auto red;
}
input {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	outline: rgb(91, 157, 217) auto 5px;
	outline-offset: 0px;
	border: none;
	white-space: pre-line;

}
/*td {

		background-color:lightgrey !important;
    height: 35px;
		padding: 0px;
		margin: 0px;
		border: 1px solid black;
		white-space: pre-line;

}*/
td div {
    /* div will now take up full 200px of parent's height */
    height: 100%;

}
td,th {
	background-color: #fff !important;
	border: 1px solid black;

}
#mainTable {
	table-layout: fixed;
  /*height: 100vh;*/
}
td {
  vertical-align: top;
}

#mainTable th, #mainTable td {
	text-align: center;

}
#mainTable td + td, #mainTable th + th {
	text-align: center;
	/*white-space: pre-line;*/

}

#mainTable div {
	width:100%;
	height: 100%;
	background-color:#fff;
	white-space: pre-line;

}
/*#mainTable td{
	white-space: pre-line !important;


}*/

.head {
	background-color:#fff;
  height: 30px;
}

table.scrollable thead tr, table.scrollable tfoot tr  {
	position: relative;
	display: block
}

html>body table.scrollable tbody {
	display: block;
	height: 330px;
	overflow: auto;
	width: 100%
}

html>body table.scrollable td, html>body table.scrollable th {
	width: 200px
}
.printV {
	display: none;
}
.orig {
	{ font: normal small-caps 12px/14px fantasy; }
}

body {
  background: rgb(204,204,204);
}
.highlight:not(.pmu-today) {
    background: #8FC490;
}
.highlight:not(.pmu-today):hover {
    background: #136a9f !important;
}
/* #################################  */
.new {
  background-color: grey !important;
}

table {
  width: 100vw;
  height: 70vh;
}



@media print
{

		html, body {
	    width: 210mm;
	    height: 297mm;
	  }
		body {
  		-webkit-print-color-adjust: exact;
		}
		body, page[size="A4"] {
	 		margin: 0;
		 box-shadow: 0;
		 }
		/*@page {size: landscape}*/
		.printP {
			position: absolute; top: 50px; right: -200px;
			transform: translateY(-100%) translateX(10%) rotate(90deg);
			transform-origin: bottom left;
			display: block;
		 }
		 .printV * {visibility: visible;}
		 .printV {display: block;}
		 #content {display: none;}
		 .pull-right {display: none;}
		 table td th {
			 text-align: center;
		 }
		 #mainTable {
			 font-size: 16pt;
			 font-weight: bold;
			 table-layout: fixed;
			 width: 280mm;
			 height: 170mm;
		 }
		 /*td {
 		    background-color:lightgrey !important;
			}*/

    .single {
      display: none !important;
    }

    table {
      width: 100vw;
      height: 90vh;
    }
			#mainTable div {
			width:100%;
			height: 100%;
			background-color:#fff !important;
			}
}
